body {
  background-color:#34495e;
  color:white;
}
img {
  height:399px;
  border: 15px blue solid;
}
p {
  background-color: blue;
  text-align: center;
  font-size: 20px;
  font-family:sans-serif;
}
a:hover {
  color:#8e44ad;
  background-color: black;
}
img:hover {
  border:15px red solid;
}
