body {
  color:red;
  background-color: #2ecc71;
}
p {
  color:blue;
  background-color:yellow;
  border: 15px #d35400 solid;
  text-align: center;
}
img {
  height: 500px;
  width: auto;
  border: 15px blue solid;
}
a:hover {
  color:pink;
  background-color:black;
}
